#! /usr/bin/make -f

export PYBUILD_NAME = sphinxcontrib_trio
export PYBUILD_TEST_ARGS = -k 'not test_end_to_end'

%:
	dh $@ --with python3,sphinxdoc --buildsystem=pybuild

execute_after_dh_auto_build:
	python3 -m sphinx docs/source debian/html

execute_after_dh_auto_clean:
	rm -rf debian/html
